 
<div id="main-container" class="expand-all" >
 <div class="center-container expand-all">
    <section class="center-form">
      <form role="form">

        <header class="form-header">
          <h1><object data="/assets/images/RecipeBook-Logo.svg" type="image/svg+xml">
              <img alt="" src="/assets/images/RecipeBook-Logo.png" width="350" />
          </object></h1>
        </header>
        <br>
        <div class="form-group">
          <div class="btn-group-vertical btn-block btn-radio-group input-radius shadow">
              <label for="lEnglish" class="btn btn-default btn-lg btn-block">
                <input id="lEnglish" name="language" type="radio" checked="checked" >English
                <span class="glyphicon glyphicon-ok"></span>
              </label>
              <label for="lEspañol" class="btn btn-default btn-lg btn-block">
                <input id="lEspañol" name="language" type="radio">Español
                <span class="glyphicon glyphicon-ok"></span>
              </label>
          </div>
        </div>
        <br>
        <a href="/views/user/nickname.html" class="btn btn-primary btn-lg btn-block new-page">Continue</a>

      </form>
    <section>
  </div>
</div>