
/*Fonts*/
@font-face {
    font-family: "Drois Sans";
    src: local("Droid Sans"), url("/assets/fonts/DroidSans-webfont.woff") format('woff');
}

@font-face {
    font-family: "Droid Sans";
    src: local("Droid Sans"), url("/assets/fonts/DroidSans-Bold-webfont.woff") format('woff');
    font-weight: bold;
}




html, body {
	width: 100%;
	height: 100%;
	font-family: 'Droid Sans', sans-serif;
	color: #334b6c;
}

body {
	background-image:url('/assets/images/bg.png');
	
}


/*Bootstrap Overrides*/
	.btn {
		border-radius: 2px;
	}

	.btn-default {
		border-color: #ced7e4;
	}

	.btn-default:hover {
		background-color: #334b6c;
		border-radius: 3px;
		color: white;
	}

	.btn-default:hover .glyphicon {
		color: white;
	}



/*Own Components*/

	/*Button Radio*/
		.input-radius {
			border-radius: 4px;
		}
		.btn-radio-group input[type=radio] {
		    display:none
		}

		.btn-radio-group label {
			color: #334b6c; 
		}

		.btn-radio-group span {
			position: absolute;
			right:20px;
			top:50%;
			margin-top: -10px;
		}

		.btn-radio-group input[type=radio]+span {
			color: #334b6c; 
			visibility: hidden; 
		} 

		.btn-radio-group input[type=radio]:checked+span { 
			visibility: visible; 			
		} 
	/*END*/

	/*Top NavBar */
		.top-navbar {
			position: relative;
			/*background-image:url('/assets/images/bgnav.png');*/
			height: 50px;
			z-index: 10;
			background-color: #334b6c;

			border-color: #ced7e4;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}


	/*END*/

	/*Lateral NavBar */
		.ltl-navbar {
			/* Old Syntax */
   			display: -webkit-box;
 
   			/* New Syntax */
   			display: -webkit-flexbox; 

			background-image:url('/assets/images/bg.png');
			width: 280px;

			-moz-box-shadow: 0 0 30px #ced7e4;
			-webkit-box-shadow: 0 0 30px #ced7e4;
			box-shadow: 0 0 30px #ced7e4;
			

			}


	/*END*/

.book-container {
	position: absolute;

	top:50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/* Old Syntax */
   	display: -webkit-box;
   	/* New Syntax */
	display: -webkit-flexbox; 
	-webkit-flex-direction: row;
     display: flex;
     flex-direction: row;
}

.shadow {
	-moz-box-shadow: 0 0 5px #ced7e4;
	-webkit-box-shadow: 0 0 5px #ced7e4;
	box-shadow: 0 0 5px #ced7e4;
	
}

.expand-all {
	height: 100%;
	width: 100%;
}

.center-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.center-form {
	width: 360px;
	padding: 5px;
	margin-top: -80px;
}


.form-header {
	position: relative;
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding-bottom: 2px;

}

.form-header small {
	position: absolute; 
	bottom: 7px;
	margin-left: 5px;
}



.error {
	margin-left: 10px;
	color: #B21522;
	font-weight: normal;
}

