<div id="main-container" class="expand-all">

<nav class="top-navbar btn-block " role="navigation">

<div class="nav-logo" style="float:left;">
	<img src="/assets/images/RecipeBook-Logo-Long@05.png" style=" margin-top:-2px; margin-left:50px;"/>
	<div class="top-nav-btn" style="float:right; height: 100%; width:48px; cursor:pointer;">
		<img src="/assets/images/menu-btn.png" style="margin:10px;"/>
	</div>


</div>
<div class="form-search" style="   float:left;             ">
	<input id="inputSearch" name="search" type="text" class="form-control"  placeholder="Search"  style=" color: #f6f6f6; height:100%; -webkit-box-flex: 1; padding: 50px 10px 0px 17px;">
<div style="height:100%;cursor:pointer;"><span class="glyphicon glyphicon-search" style="margin:12px; font-size:18px;"></span></div>
</div>



</nav>

<div class="book-container">
	<nav class="shadow ltl-navbar " role="navigation">


	 
	</nav>
	<div class="rule flexbox-vertical">
	<nav style="width:100%; height:40px; -webkit-box-flex: 1 1; border-color:  #ced7e4;
border-bottom-width: 1px;
			border-bottom-style: solid;">

	   		<ol class="breadcrumb" style="margin-left:5px; height:100%; padding-top:11px;">
  <li><a href="#">Book</a></li>
  <li><a href="#">All</a></li>
  <li class="active">Meat</li>
</ol>

	</nav>
	<section  style="width:100%;   -webkit-box-flex: 2;">
		
	</section>

	<footer class="flexbox-element"  style="width:100%;  -webkit-box-flex: 3 1">
		<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
	</footer>
	</div>
</div>

<div>
